<a href="https://colab.research.google.com/github/shivs2000/freeCodeCamp_ml/blob/main/fcc_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import RandomOverSampler

In [6]:
pd.read_csv("magic04.data")

,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.011,-8.2027,40.092,81.8828,g
0,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
1,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
2,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
3,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g
4,51.6240,21.1502,2.9085,0.2420,0.1340,50.8761,43.1887,9.8145,3.6130,238.0980,g
...,...,...,...,...,...,...,...,...,...,...,...
19014,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,h
19015,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,h
19016,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,h
19017,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,h
19018,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,h

No Labels in dataset

In [7]:
cols=["fLength","fWidth","fSize","fConc","fConc1","fAsym","fM3Long","fM3Trans","fAplha","fDist","class"]
df=pd.read_csv("magic04.data",names=cols)

In [8]:
df.head()

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAplha,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g

In [9]:
df["class"].unique()

array(['g', 'h'], dtype=object)

In [10]:
df["class"]=(df["class"]=="g").astype(int)

In [11]:
df["class"]

0        1
1        1
2        1
3        1
4        1
        ..
19015    0
19016    0
19017    0
19018    0
19019    0
Name: class, Length: 19020, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19020 entries, 0 to 19019
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fLength   19020 non-null  float64
 1   fWidth    19020 non-null  float64
 2   fSize     19020 non-null  float64
 3   fConc     19020 non-null  float64
 4   fConc1    19020 non-null  float64
 5   fAsym     19020 non-null  float64
 6   fM3Long   19020 non-null  float64
 7   fM3Trans  19020 non-null  float64
 8   fAplha    19020 non-null  float64
 9   fDist     19020 non-null  float64
 10  class     19020 non-null  int64
dtypes: float64(10), int64(1)
memory usage: 1.6 MB

In [13]:
df.isnull().sum()

fLength     0
fWidth      0
fSize       0
fConc       0
fConc1      0
fAsym       0
fM3Long     0
fM3Trans    0
fAplha      0
fDist       0
class       0
dtype: int64

In [ ]:
for label in cols[:-1]:
  # print(label) ploting with every feature 
  plt.hist(df[df["class"]==1][label],color="blue",label="gamma",alpha=0.7,density=True)
  plt.hist(df[df["class"]==0][label],color="red",label="hadron",alpha=0.7,density=True)
  plt.title(label)
  plt.ylabel("Probability")
  plt.xlabel(label)
  plt.legend() # prints that top right box for labeling
  plt.show()
  print("\n")

# Train,validation,Test datasets

In [15]:
train,valid ,test =np.split(df.sample(frac=1),[int(0.6*len(df)),int(0.8*len(df))])

In [16]:
def scale_dataset(dataframe,oversample=False):
  X=dataframe[dataframe.columns[:-1]].values
  y=dataframe[dataframe.columns[-1]].values

  scaler=StandardScaler()
  X=scaler.fit_transform(X)
  if(oversample==True):
    ros=RandomOverSampler()
    X,y=ros.fit_resample(X,y)
    
  data=np.hstack((X,np.reshape(y,(-1,1))))

  return data,X,y

In [17]:
train,X_train,y_train=scale_dataset(train,oversample=True)
test,X_test,y_test=scale_dataset(test,oversample=False)
valid,X_valid,y_valid=scale_dataset(valid,oversample=False)

In [18]:
sum(y_train==1)

7345

In [19]:
sum(y_train==0)

7345

# Both classes have have same vectors or datapoints now

# KNN

In [20]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

In [21]:
knn_model=KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train,y_train)

KNeighborsClassifier()

In [22]:
y_pred=knn_model.predict(X_test)

In [23]:
y_pred

array([1, 1, 1, ..., 0, 1, 1])

In [24]:
y_test

array([1, 0, 1, ..., 0, 1, 1])

# Using classification report

In [25]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.73      0.75      0.74      1299
           1       0.87      0.85      0.86      2505

    accuracy                           0.82      3804
   macro avg       0.80      0.80      0.80      3804
weighted avg       0.82      0.82      0.82      3804

**Naive Bayes**

In [31]:
from sklearn.naive_bayes import GaussianNB

In [32]:
nb_model=GaussianNB()

In [33]:
nb_model.fit(X_train,y_train)

GaussianNB()

In [34]:
y_pred=nb_model.predict(X_test)

In [35]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.67      0.39      0.49      1299
           1       0.74      0.90      0.81      2505

    accuracy                           0.73      3804
   macro avg       0.71      0.65      0.65      3804
weighted avg       0.72      0.73      0.70      3804