<a href="https://colab.research.google.com/github/shivs2000/freeCodeCamp_ml/blob/main/Panda_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("Airplane_Crashes_and_Fatalities_Since_1908.csv")

In [11]:
df.head()

,index,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [5]:
df.head

<bound method NDFrame.head of       index        Date   Time  \
0         0  09/17/1908  17:18
1         1  07/12/1912  06:30
2         2  08/06/1913    NaN
3         3  09/09/1913  18:30
4         4  10/17/1913  10:30
...     ...         ...    ...
5263   5263  05/20/2009  06:30
5264   5264  05/26/2009    NaN
5265   5265  06/01/2009  00:15
5266   5266  06/07/2009  08:30
5267   5267  06/08/2009    NaN

                                               Location  \
0                                   Fort Myer, Virginia
1                               AtlantiCity, New Jersey
2                    Victoria, British Columbia, Canada
3                                    Over the North Sea
4                            Near Johannisthal, Germany
...                                                 ...
5263                             Near Madiun, Indonesia
5264                  Near Isiro, DemocratiRepubliCongo
5265  AtlantiOcean, 570 miles northeast of Natal, Br...
5266       Near Port Hope Simpson, Newfoundland, Canada
5267                  State of Arunachal Pradesh, India

                             Operator Flight #  \
0                Military - U.S. Army      NaN
1                Military - U.S. Navy      NaN
2                             Private        -
3              Military - German Navy      NaN
4              Military - German Navy      NaN
...                               ...      ...
5263  Military - Indonesian Air Force      NaN
5264                      Service Air      NaN
5265                       Air France      447
5266                       Strait Air      NaN
5267      Military - Indian Air Force      NaN

                                          Route  \
0                                 Demonstration
1                                   Test flight
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
5263                           Jakarta - Maduin
5264                               Goma - Isiro
5265                     Rio de Janeiro - Paris
5266  Lourdes de BlanSablon - Port Hope Simpson
5267                         Mechuka for Jorhat

                                  Type Registration cn/In  Aboard  Fatalities  \
0                     Wright Flyer III          NaN     1     2.0         1.0
1                            Dirigible          NaN   NaN     5.0         5.0
2                     Curtiss seaplane          NaN   NaN     1.0         1.0
3               Zeppelin L-1 (airship)          NaN   NaN    20.0        14.0
4               Zeppelin L-2 (airship)          NaN   NaN    30.0        30.0
...                                ...          ...   ...     ...         ...
5263           Lockheed C-130 Hercules       A-1325  1982   112.0        98.0
5264                     Antonov An-26       9Q-CSA  5005     4.0         4.0
5265                   Airbus A330-203       F-GZCP   660   228.0       228.0
5266  Britten-Norman BN-2A-27 Islander      C-FJJR    424     1.0         1.0
5267                     Antonov An-32          NaN   NaN    13.0        13.0

      Ground                                            Summary
0        0.0  During a demonstration flight, a U.S. Army fly...
1        0.0  First U.S. dirigible Akron exploded just offsh...
2        0.0  The first fatal airplane accident in Canada oc...
3        0.0  The airship flew into a thunderstorm and encou...
4        0.0  Hydrogen gas which was being vented was sucked...
...      ...                                                ...
5263     2.0  While on approach, the military transport cras...
5264     NaN  The cargo plane crashed while on approach to I...
5265     0.0  The Airbus went missing over the AtlantiOcean ...
5266     0.0  The air ambulance crashed into hills while att...
5267     0.0  The military transport went missing while en r...

[5268 rows x 14 columns]>

In [9]:
df.shape

(5268, 14)

In [10]:
df

,index,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5263,5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,5264,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...